{{- $home := .chezmoi.homeDir -}}
{{- $filename := "{{filename}}" -}}
{{- $line := "{{line}}" -}}
# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json

os:
  edit: 'nvim {{ $filename }}'
  editAtLine: 'nvim +{{ $line }} {{ $filename }}'
  editAtLineAndWait: 'nvim +{{ $line }} {{ $filename }}'
  editInTerminal: true
