[delta]
	dark = true
	syntax-theme = zenburn
	side-by-side = false
	navigate = true
	line-numbers = true
	tabs = 4
	file-style = omit
	file-decoration-style = none
	line-numbers-left-format = "{nm:>4} "
	line-numbers-right-format = "│ {np:>4} "
	line-numbers-left-style = "#6f8f6f" dim
	line-numbers-right-style = "#8fbfdc" dim
	line-numbers-zero-style = "#6f6f6f" dim
	line-numbers-plus-style = "#7f9f7f" dim
	line-numbers-minus-style = "#cc9393" dim
	plus-style = syntax "#2f4f2f"
	plus-emph-style = syntax "#3f5f3f"
	minus-style = syntax "#4f2f2f"
	minus-emph-style = syntax "#5f3f3f"
	hunk-header-style = "#d0bf8f"
	hunk-header-decoration-style = "#4f5f5f"
	hunk-header-file-style = "#93e0e3"
	hunk-header-line-number-style = "#8f8f8f"
	inline-hint-style = "#7f7f7f"
	wrap-left-symbol = " "
	wrap-right-symbol = " "
	wrap-right-prefix-symbol = " "
